body {
  margin: 0;
  padding: 0;
}
.About p {
  font-size: 1.25rem;
  text-align: justify;
}

.About h2 {
  color: #d62727;
}

.About ul li {
  margin-bottom: 15px;
  text-align: justify;
}

.About ul {
  list-style-type: square;
  padding-left: 30px;
}

.About img {
  height: 280px;
  width: 500px;
  display: block;
  margin-bottom: 25px;
  border-radius: 10px;
}

.About img {
  transition: transform 0.5s ease;
}

.About img:hover {
  transform: scale(1.1);
}

.About img:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .About h1 {
    font-size: 2rem;
  }

  .About p {
    font-size: 1rem;
  }
}
