.bg-theme {
  background-color: #666363 !important;
}
.card-contact {
  margin-left: -50px;
}
.card-contact h1 {
  color: #fff;
  font-size: 30px;
  position: relative;
  margin-bottom: 0;
  margin-bottom: 40px;
}
.card-contact h1::before {
  content: "";
  height: 3px;
  width: 80px;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
}
.icon-part {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
  border-radius: 50%;
}

.slider-container {
  width: 100%;
  height: auto;

  overflow: hidden;
}
.slick-slide img {
  width: 100%;
  height: 100%;
  display: block;
}
.container {
  width: 100%;
}
